.pmf-wrapper {
  background-color: #272f39;
  border-radius: 0.5rem;
}

.pmf-container {
  background-color: #2b394a;
  border-radius: 0.5rem;
}

.pmf-header {
  font-size: 0.9rem;
  font-weight: bold;
  color: whitesmoke;
  border-bottom: 1px solid gray;
}

.pmf-sub {
  font-size: 0.75rem;
  font-weight: normal;
}

.pmf-input {
  background-color: transparent !important;
  font-size: 0.9rem !important;
  font-weight: bold !important;
  padding-left: 2rem !important;
  color: whitesmoke !important;
  outline: none !important;
}

.pmf-input::placeholder {
  color: rgb(201, 196, 196) !important;
}

.pmf-input-icon {
  position: absolute;
  top: 0.5rem;
  left: 0.6rem;
  color: rgb(201, 196, 196) !important;
}

.pmf-input-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23dad8d8%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e") !important;
}

.pmf-input-text {
}

.pmf-input-textarea {
  resize: none;
}

.pmf-input-check {
  background-color: transparent !important;
  border: 1px solid whitesmoke !important;
}

.pmf-check-label {
  font-size: 0.9rem;
  color: whitesmoke;
}
