.clt-table-container {
  background-color: #272f39;
  border-radius: 0.5rem;
  padding-bottom: 1.5rem;
}

.clt-table {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  color: whitesmoke;
}

.clt-table td,
.clt-table th {
  padding: 0.4rem;
}

.clt-line {
  border-bottom: 1px solid white;
}

.clt-table thead tr {
  font-weight: bold;
  font-size: 0.9rem;
}

.clt-table thead tr th {
  text-align: center;
}

.clt-table tbody tr:nth-child(even) {
  background-color: #2b394a;
  font-size: 0.9rem;
}

.clt-table tbody tr:nth-child(odd) {
  background-color: #273445;
  font-size: 0.9rem;
}

.clt-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: transparent;
  color: white;
}

.clt-table tbody tr td {
  font-weight: bold;
  font-size: 0.8rem;
}

.clt-date {
  background-color: #656565;
  width: fit-content;
  padding: 0.1rem 1rem;
  margin: auto;
  border-radius: 0.25rem;
}

.clt-ref {
  background-color: #f6b749;
  padding: 0.1rem 1rem;
  width: fit-content;
  border-radius: 0.25rem;
  margin: auto;
}

.clt-assigned {
  border: 1px solid #df89ff;
  color: #df89ff;
  padding: 0.1rem 1rem;
  width: fit-content;
  border-radius: 0.25rem;
  margin: auto;
}
