.commswc-wrapper {
}

.commswc-container {
}

.commswc-header {
  background-color: #fbfbfb;
  color: #303030;
  font-weight: bold;
  font-size: 0.9rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.commswc-body {
  background-color: #2f3947;
  display: grid;
  place-items: center;
  text-align: center;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.commswc-label {
  font-size: 0.9rem;
  color: whitesmoke;
  font-weight: bold;
}

.commswc-points {
  font-size: 1.25rem;
  color: whitesmoke;
  font-weight: bold;
}

.commswc-transfer {
  padding: 0.25rem 1rem !important;
  font-size: 1rem !important;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.479);
}

.commswc-modal-body {
  background-color: #3d4e65 !important;
}

.commswc-modal-clear {
  padding: 0.55rem 1rem !important;
  background-color: #4d617e !important;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.555) !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.555) !important;
  color: #f6b749 !important;
}

.commswc-modal-input {
  font-size: 2rem !important;
  text-align: center;
  font-weight: bold !important;
  background-color: transparent !important;
  color: whitesmoke !important;
  padding: 0 !important;
  border: none !important;
}

.commswc-form-container {
  background-color: #272f39;
  border-radius: 0.5rem;
  box-shadow: inset 2px 2px 5px black;
}

.commswc-modal-title {
  font-size: 0.9rem;
  color: aqua;
  font-weight: bold;
  text-shadow: 1px 1px 5px black !important;
}

.commswc-confirm-btn {
  font-size: 1.1rem !important;
  color: #33ff3b !important;
  background-color: #536886 !important;
  box-shadow: 2px 2px 10px black !important;
  text-shadow: 1px 1px 5px black !important;
}

.commswc-modal-exit {
  text-shadow: 1px 1px 5px black !important;
}
