.llt-table-container {
  background-color: #272f39;
  border-radius: 0.5rem;
  padding-bottom: 1.5rem;
}

.llt-table {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  color: whitesmoke;
}

.llt-table td,
.llt-table th {
  padding: 0.4rem;
}

.llt-line {
  border-bottom: 1px solid white;
}

.llt-table thead tr {
  font-weight: bold;
  font-size: 0.9rem;
}

.llt-table thead tr th {
  text-align: center;
}

.llt-table tbody tr:nth-child(even) {
  background-color: #2b394a;
  font-size: 0.9rem;
}

.llt-table tbody tr:nth-child(odd) {
  background-color: #273445;
  font-size: 0.9rem;
}

.llt-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: transparent;
  color: white;
}

.llt-table tbody tr td {
  font-weight: bold;
  font-size: 0.8rem;
}

.llt-date {
  background-color: #656565;
  width: fit-content;
  padding: 0.1rem 1rem;
  margin: auto;
  border-radius: 0.25rem;
}

.llt-ip {
  background-color: #656565;
  width: fit-content;
  padding: 0.1rem 1rem;
  margin: auto;
  border-radius: 0.25rem;
}

.llt-login {
  background-color: #229d9c;
  width: fit-content;
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
  margin: auto;
}

.llt-logout {
  background-color: #00876f;
  width: fit-content;
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
  margin: auto;
}
