.status-small-header {
  background-color: #f6b749;
  font-size: 1rem;
  font-weight: bold;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: #1c232e;
}

.status-small-body {
  color: white;
  font-size: 1.25rem;
  background-color: #272f39;
  position: relative;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
