.atl-table-container {
    background-color: #272f39;
    border-radius: 0.5rem;
    padding-bottom: 1.5rem;

  }
  
  .atl-table {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    color: whitesmoke;
  }
  
  .atl-table td,
  .atl-table th {
    padding: 0.4rem;
  }
  
  .atl-line {
    border-bottom: 1px solid white;
  }
  
  .atl-table thead tr {
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  .atl-table thead tr th {
    text-align: center;
  }
  
  .atl-table tbody tr:nth-child(even) {
    background-color: #2b394a;
    font-size: 0.9rem;
  }
  
  .atl-table tbody tr:nth-child(odd) {
    background-color: #273445;
    font-size: 0.9rem;
  }
  
  .atl-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: transparent;
    color: white;
  }
  
  .atl-table tbody tr td {
    font-weight: bold;
    font-size: 0.8rem;
  }
  
  .atl-date {
    background-color: #25262a;
    width: fit-content;
    padding: 0.1rem 1rem;
    margin: auto;
    border-radius: 0.25rem;
  }
  