.pdt-table-container {
  background-color: #272f39;
  border-radius: 0.5rem;
  padding-bottom: 1.5rem;
}

.pdt-table {
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  color: whitesmoke;
}

.pdt-table td,
.pdt-table th {
  padding: 0.4rem;
}

.pdt-line {
  border-bottom: 1px solid white;
}

.pdt-table thead tr {
  font-weight: bold;
  font-size: 0.9rem;
}

.pdt-table thead tr th {
  text-align: center;
}

.pdt-table tbody tr:nth-child(even) {
  background-color: #2b394a;
  font-size: 0.9rem;
}

.pdt-table tbody tr:nth-child(odd) {
  background-color: #273445;
  font-size: 0.9rem;
}

.pdt-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: transparent;
  color: white;
}

.pdt-table tbody tr td {
  font-weight: bold;
  font-size: 0.8rem;
}

.pdt-date {
  background-color: #656565;
  width: fit-content;
  padding: 0.1rem 1rem;
  margin: auto;
  border-radius: 0.5rem;
}

.pdt-type {
  background-color: #229d9c;
  width: fit-content;
  padding: 0.1rem 1rem;
  border-radius: 0.5rem;
}

.pdtr-btn {
  padding: 0.1rem 1rem !important;
  font-size: 0.8rem !important;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.534) !important;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.534) !important;
}

.pdtr-btn-2 {
  padding: 0 !important;
  width: 2rem !important;
  height: 2rem !important;
  background-color: transparent !important;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.747);
}
